@model TodosModel

<h1>Todos</h1>

<div class="mb-3 d-flex">
    <a asp-controller="Todo" asp-action="AddTodo" class="btn btn-primary">Add</a>
</div>
<div>
    @foreach (var todo in Model.Todos)
    {
        <div class="card mb-3">
            <div class="card-header">
                @todo.Title
            </div>
            <div class="card-body">
                <p class="card-text">@Html.Raw(todo.Description.ReplaceLineEndings("<br>"))</p>
                <hr>
                <a asp-controller="Todo" asp-action="DeleteTodo" asp-route-todoId="@todo.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>