@model TodosModel

<h1>Todos</h1>

<div class="mb-3 d-flex">
    <a asp-controller="Todo" asp-action="AddTodo" class="btn btn-primary">Add</a>
</div>
<div>
    <ul>
        @foreach (var todo in Model.Todos)
        {
            <li>@todo.Title</li>
        }
    </ul>
</div>